
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f6fa;
    margin: 0;
    color: #242424;
    line-height: 1.6;
}

h1, h2, h3 {
    margin: 0 0 10px 0;
    font-weight: 600;
}

/*Navnar*/
.nav {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #e9f0ff;
    padding: 12px 30px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
}

.nav a {
    color: #222;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s ease;
}

.nav a:hover {
    color: #0232E0;
}

/*header */
.hedear-a {
    background-color: #ffffff;
    padding: 35px 20px 25px 20px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08);
    border-bottom: 6px solid #F5E14B;   
}

.hedear-a h1 {
    font-size: 34px;
    color: #233a80;
}

.hedear-a p {
    margin-top: 6px;
    color: #4a4a4a;
}

/*Stemmi delle funzioni */
.stemma {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
    color: white;
}
.badge-Fe { background-color: #ffb3bd; }   
.badge-Fi { background-color: #f7c4df; }  
.badge-Te { background-color: #b7d1ff; } 
.badge-Ti { background-color: #bde3ea; }   
.badge-Ne { background-color: #ffe0a8; }  
.badge-Ni { background-color: #d7c8ff; }
.badge-Se { background-color: #c8f2c5; }   
.badge-Si { background-color: #d8e8d0; }   
/*contenuto principale*/
.main-content {
    max-width: 850px;
    margin: 40px auto;
    padding: 0 20px;
}


.highlight-box {
    background: white;
    padding: 24px 24px;
    margin: 25px 0;
    border-radius: 18px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.06);
}

.highlight-box h2,
.highlight-box h3 {
    color: #233a80;
    border-left: 6px solid #F5E14B;
    padding-left: 10px;
}

/*sommario*/
.sum-title {
    color: #233a80;
    margin-bottom: 10px;
    border-left: 6px solid #F5E14B;
    padding-left: 10px;
}

.sum a {
    color: #233a80;
    font-weight: 500;
}

.sum a:hover {
    color: #001f90;
}

/* andare ad altre funzioni */
.functions-nav {
    background: white;
    padding: 25px;
    margin-top: 40px;
    border-radius: 18px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.06);
}

.functions-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 18px;
}

.functions-nav a {
    font-weight: 600;
    color: #233a80;
}
/*footer*/
footer {
    text-align: center;
    padding: 35px 0;
    background-color: #fafafa;
    margin-top: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 15px;
}

.footer a:hover {
    color: #233a80;
}


